/* BOTÓN BASE */
.nav-button {
    -fx-font-size: 18px;
    -fx-font-weight: 800;
    -fx-text-fill: #3d3d3d;


    -fx-background-color: transparent;


    -fx-cursor: hand;

    -fx-padding: 0 0 2px 0;
}

/* HOVER — solo cambia el color del texto */
.nav-button:hover,
.nav-button:focused {
    -fx-text-fill: #000000;
    /*-fx-border-color: transparent;   */
    -fx-border-width: 0;
}
.add-button{
    -fx-shape: "M 100 100 a 50 50 0 1 0 0.00001 0";
    -fx-background-color: white;
}

.category-button{
    -fx-background-radius: 10px;
    -fx-background-color: #e7e9f3;
    -fx-text-fill: black;

}
